#darkbox-a {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 500;
	background: #000;
	filter: alpha(opacity=50);
	opacity: 0.5;
		-moz-transition: opacity 0.3s, visibility 0s;
		-ms-transition: opacity 0.3s, visibility 0s;
		-o-transition: opacity 0.3s, visibility 0s;
		-webkit-transition: opacity 0.3s, visibility 0s;
	transition: opacity 0.3s, visibility 0s;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		-webkit-user-select: none;
	user-select: none;
}

.db-hidden #darkbox-a {
	opacity: 0;
	visibility: hidden;
		-moz-transition-delay: 0.3s, 0.6s;
		-ms-transition-delay: 0.3s, 0.6s;
		-o-transition-delay: 0.3s, 0.6s;
		-webkit-transition-delay: 0.3s, 0.6s;
	transition-delay: 0.3s, 0.6s;
}

#darkbox-b {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -75px;
	margin-top: -75px;
	width: 150px;
	height: 150px;
	z-index: 501;
	background: #fff url(flash.gif) center center no-repeat;

	box-shadow: 0 0 15px rgb(0, 0, 0);

		-moz-transition: opacity 0.3s ease 0.3s, visibility, margin 0.3s, width 0.3s, height 0.3s;
		-ms-transition: opacity 0.3s ease 0.3s, visibility, margin 0.3s, width 0.3s, height 0.3s;
		-o-transition: opacity 0.3s ease 0.3s, visibility, margin 0.3s, width 0.3s, height 0.3s;
		-webkit-transition: opacity 0.3s ease 0.3s, visibility, margin 0.3s, width 0.3s, height 0.3s;
	transition: opacity 0.3s ease 0.3s, visibility, margin 0.3s, width 0.3s, height 0.3s;
}

#darkbox-b.content-box {
	background: #fff;
	overflow: hidden;
}

.db-hidden #darkbox-b {
	opacity: 0;
	visibility: hidden;

		-moz-transition-delay: 0s, 0.6s, 0s, 0s, 0s;
		-ms-transition-delay: 0s, 0.6s, 0s, 0s, 0s;
		-o-transition-delay: 0s, 0.6s, 0s, 0s, 0s;
		-webkit-transition-delay: 0s, 0.6s, 0s, 0s, 0s;
	transition-delay: 0s, 0.6s, 0s, 0s, 0s;
}

#darkbox-c {
	margin: 10px;

		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		-webkit-user-select: none;
	user-select: none;
}

#darkbox-d {
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	background-image: url(db-bg.png);
	background: rgba(0, 0, 0, 0.5);
	color: rgb(255, 255, 255);
	padding: 10px;
	text-shadow: 0 0 3px #000;
}

#darkbox-d.nodesc {
	opacity: 0;
	filter: alpha(opacity=0);
}

#darkbox-l {
	position: absolute;
	display: block;
	top: 0;
	left: -40px;
	height: 100%;
	width: 22px;
	background: url(blank.gif);
}

#darkbox-l:hover {
	background: url(db-leftarrow.png) left center no-repeat;
}

#darkbox-r {
	position: absolute;
	display: block;
	top: 0;
	right: -40px;
	height: 100%;
	width: 22px;
	background: url(blank.gif);
}

#darkbox-r:hover {
	background: url(db-rightarrow.png) right center no-repeat;
}

#darkbox-c, #darkbox-d, #darkbox-l, #darkbox-r {
		-moz-transition: opacity 0.25s;
		-ms-transition: opacity 0.25s;
		-o-transition: opacity 0.25s;
		-webkit-transition: opacity 0.25s;
	transition: opacity 0.25s;
}

.noimg #darkbox-c, .noimg #darkbox-d, .noimg #darkbox-l, .noimg #darkbox-r {
	opacity: 0;
	filter: alpha(opacity=0);
}
