#darkbox-a {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 500;
	background: #000;
	opacity: 0.5;
	transition: opacity 0.3s, visibility 0s;
		-moz-user-select: none;
	user-select: none;
}

.db-hidden #darkbox-a {
	opacity: 0;
	visibility: hidden;
	transition-delay: 0.3s, 0.6s;
}

#darkbox-b {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -75px;
	margin-top: -75px;
	width: 150px;
	height: 150px;
	z-index: 501;
	background-color: #fff;
	box-shadow: 0 0 15px rgb(0, 0, 0);
	transition: opacity 0.3s ease 0.3s, visibility, margin 0.3s, width 0.3s, height 0.3s;
}

#darkbox-loading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
}
#darkbox-b.db-loading > #darkbox-loading {
	visibility: visible;
	transition: visibility 0s linear 0.5s;
}

#darkbox-b.content-box {
	background: #fff;
	overflow: hidden;
}

#darkbox-b.content-box.db-fixed {
	top: 75px;
	margin-top: 0;
	height: auto;
	overflow: auto;
	max-height: calc(100% - 150px);
}

.db-hidden #darkbox-b {
	opacity: 0;
	visibility: hidden;
	transition-delay: 0s, 0.6s, 0s, 0s, 0s;
}

#darkbox-c {
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
		-moz-user-select: none;
	user-select: none;
}

#darkbox-d {
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	background-image: url(db-bg.png);
	background: rgba(0, 0, 0, 0.5);
	color: rgb(255, 255, 255);
	padding: 10px;
	text-shadow: 0 0 3px #000;
}

#darkbox-d.db-nodesc {
	opacity: 0;
}

#darkbox-l {
	position: absolute;
	display: block;
	top: 0;
	left: -40px;
	height: 100%;
	width: 22px;
	background: url(blank.gif);
}

#darkbox-l:hover {
	background: url(db-leftarrow.png) left center no-repeat;
}

#darkbox-r {
	position: absolute;
	display: block;
	top: 0;
	right: -40px;
	height: 100%;
	width: 22px;
	background: url(blank.gif);
}

#darkbox-r:hover {
	background: url(db-rightarrow.png) right center no-repeat;
}

#darkbox-c, #darkbox-d, #darkbox-l, #darkbox-r {
	transition: opacity 0.25s;
}

.db-noimg #darkbox-c, .db-noimg #darkbox-d, .db-noimg #darkbox-l, .db-noimg #darkbox-r {
	opacity: 0;
}
